:root {
    font-family: fantasy;
}
body {
    background-color: #ccd9b8;
}

h1 {
    color: coral;
    font-size: 90px;
    text-align: center;
    
}

h2, h3 {
    font-family: monospace;
    color: gray;
    font-size: 40px;
}

h3 {
    text-align: center;
}
div{
    align-items: grid;

}

footer {
    text-align: center;
}